## Defaults
## -----------------------------------------------------------------------------
* text=auto eol=lf

## Dotfiles
## -----------------------------------------------------------------------------
.editorconfig  text
.gitattributes text
.gitconfig     text
.gitignore     text
.luacheckrc    text

## Documentation
## -----------------------------------------------------------------------------
*.md  text
*.txt text

## Code
## -----------------------------------------------------------------------------
*.lua text

## Images
## -----------------------------------------------------------------------------
*.png binary
